<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/home.css">
  

  <title>Mercado liebre</title>

</head>

<body>
   <!-- --------------------HEADER------------------------- -->
  <%- include('./partials/header.ejs') %>
  <!-- --------------------MAIN------------------------- -->
  <main>
    <img class="fondo-publicidad" src="img/img-home-banner.jpg" alt="publicidad">

    <section class="ultima-visita-section">
      <header >
        <h2>Basado en tu última visita</h2>
      </header>
      <section class="articulos">
        <% articuloss.map((articulo) =>{ %>
        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/<%=articulo.img %>" alt="Cafetera Moulinex">
          <!--<h2 class="productos-nombre"><strong>Cafetera Moulinex</strong></h2>-->
          <div class="product">

            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong><%= articulo.title %> <%=articulo.brand %></strong></p>
            <!-- <p class="productos-precios">$6.770</p>
            <p class="productos-descuentos">40% off</p> -->
            <div class="productos-precios-descuentos">
              <span class="productos-precios">$<%= articulo.price %></span>
              <span class="productos-descuentos"><%= articulo.descuento %>% off</span>
            </div>
            <p class="productos-descripciones"><%= articulo.description %> </p>

          </div>
        </article>
        <% }) %>
       <!--  <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>MacBook Pro 2019</strong></p>
            <div class="productos-precios-descuentos">
              <span class="productos-precios">$230.000</span>
              <span class="productos-descuentos">20% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>Samsung Galaxy S10</strong></p>
            <div class="productos-precios-descuentos">
              <span class="productos-precios">$70.500</span>
              <span class="productos-descuentos">10% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>SmartTv Samsung 43"</strong></p>
            <div class="productos-precios-descuentos">

              <span class="productos-precios">$23.200</span>
              <span class="productos-descuentos">5% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article> -->
      </section>
    </section>
    <section class="Ofertas seccion">
      <header>
        <h2>Sección de Ofertas</h2>
      </header>
      <section class="articulos">
        <% articuloss.map((articulo) =>{ %>
          <article class="articulo">
            <img class="productos-imagenes" width="320" src="img/<%=articulo.img %>" alt="Cafetera Moulinex">
            <!--<h2 class="productos-nombre"><strong>Cafetera Moulinex</strong></h2>-->
            <div class="product">
  
              <div class="icono-envio">
                <i class="fas fa-truck"></i>
              </div>
              <p class="productos-nombres"><strong><%= articulo.title %> <%=articulo.brand %></strong></p>
              <!-- <p class="productos-precios">$6.770</p>
              <p class="productos-descuentos">40% off</p> -->
              <div class="productos-precios-descuentos">
                <span class="productos-precios">$<%= articulo.price %></span>
                <span class="productos-descuentos"><%= articulo.descuento %>% off</span>
              </div>
              <p class="productos-descripciones"><%= articulo.description %> </p>
  
            </div>
          </article>
          <% }) %>
        
      </section>
    </section>
  </main>
  <!-- ------------------------FOOTER ----------------------- -->
 
  <%- include('./partials/footer.ejs') %>

</body>

</html>